.dragging {
    opacity: 0.5;
}
.p-active {
    text-decoration: line-through;
    color: #D1D2DA;
}
.circle-active {
    background-image: url(images/icon-check.svg), linear-gradient(0.30turn, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    border: 2px solid black;
    padding-bottom: 30px;
}

.list-container {
    border: 2px solid black;
    #list {
        .item {
            cursor: move;
            border: 1px solid black;
            display: flex;
            flex-direction: row;
            align-items: center;
            p {
                margin-left: 20px;
            }
            .circle {
                min-height: 30px;
                min-width: 30px;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                border: 2px solid #E3E4F1;
                margin-left: 15px;
                cursor: pointer;
            }
            .X {
                // margin-left: auto Really good for getting the last item to the far right 
                margin-left: auto;
                margin-right: 20px;
                cursor: pointer;
            }
        }
    }
}

#items-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    #clear {
        margin-left: auto;
    }
}

.all-active-complete {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    h4 {
        padding: 0px 15px;
        cursor: pointer;
    }
}

.instr {
    text-align: center;
}
